body{
  background-color: #ffe082 !important;
}
/* yekan font */
@font-face {
    font-family: "yekan";
    src: url("../yekan/Yekan.eot");
    src: url("../yekan/Yekan.eot?#iefix") format("embedded-opentype"),
    url("../yekan/Yekan.woff") format("woff"),
    url("../yekan/Yekan.ttf") format("truetype"),
    url("../yekan/Yekan.svg#BYekan") format("svg");
    font-weight: normal;
    font-style: normal
}

p, div, button, .button, h1, h2, h3, h4, h5, h6, #downloadButton {
    font-family: "yekan", arial, helvetica, serif !important;
}
